<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.timkabor.culturecode">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.timkabor.culturecode.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.impl.LoginActivity"
            android:theme="@style/AppTheme.Dark">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.impl.MainActivity"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".view.impl.KidAreaActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.impl.SendMessageActivity"
            android:label="Связаться с консьержом"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.impl.DosugActivity"
            android:label="Досуг"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>